<div class="slds-tile slds-grid slds-wrap" *ngIf="!editMode">
    <div class="slds-size--1-of-1 slds-medium-size--4-of-12">
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-p-horizontal--small slds-size--1-of-4">
                <h3>{{ hour.hour | formatHour }}</h3>
            </div>
            <div class="slds-p-horizontal--small slds-size--3-of-4">
                <h4>{{ hour.mood }}</h4>
            </div>
        </div>
    </div>
    <div class="slds-p-horizontal--medium slds-size--1-of-1 slds-medium-size--7-of-12">
        <p>{{ hour.comment }}</p>
    </div>
    <div class="slds-size--1-of-1 slds-medium-size--1-of-12 slds-clearfix">
        <div *ngIf="!pageReadOnly">
            <button class="slds-button slds-button--neutral slds-button slds-button--neutral slds-float--right" (click)="clickEdit()">Edit</button>
        </div>
    </div>
</div>
<div class="slds-tile slds-grid slds-wrap"  *ngIf="editMode">
    <div class="slds-size--1-of-1 slds-medium-size--4-of-12">
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-p-horizontal--small slds-size--1-of-4">
                <h3>{{ hour.hour | formatHour }}</h3>
            </div>
            <div class="slds-p-horizontal--small slds-size--3-of-4">
                <h3>{{ hour.mood }}</h3>
            </div>
        </div>
    </div>
    <div class="slds-p-horizontal--medium slds-size--1-of-1 slds-medium-size--7-of-12">
        <textarea cols="40" rows="4">{{ hour.comment }}</textarea>
    </div>
    <div class="slds-size--1-of-1 slds-medium-size--1-of-12 slds-clearfix">
        <button class="slds-button slds-button--neutral slds-button slds-button--neutral slds-float--right" (click)="clickSave()">Save</button>
    </div>
</div>