<main>
  <div class="slds slds-grid slds-grid--vertical-align-center slds-grid--align-center">
    <div class="slds-p-horizontal--small slds-size--1-of-1 slds-medium-size--5-of-6 slds-large-size--10-of-12">
      <div class="slds-page-header" role="banner">
        <p class="slds-text-heading--label">Shift Report</p>
        <h1 class="slds-text-heading--medium">Hourly Log</h1>
        <p class="slds-text-body--small slds-m-top--x-small">1 items</p>
      </div>
      <article>
        <ul class="slds-has-dividers--bottom-space">
          <li class="slds-item">
            <div class="slds-tile slds-grid slds-wrap">
              <div class="slds-size--1-of-1 slds-medium-size--4-of-12">
                <div class="slds-grid slds-wrap slds-grid--pull-padded">
                  <div class="slds-p-horizontal--small slds-size--1-of-4">
                    <h3>11:00am</h3>
                  </div>
                  <div class="slds-p-horizontal--small slds-size--3-of-4">
                    <h4>N/A</h4>
                  </div>
                </div>
              </div>
              <div class="slds-p-horizontal--medium slds-size--1-of-1 slds-medium-size--7-of-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fermentum turpis neque, ut mollis odio
                  porta at. Maecenas justo ipsum, facilisis vitae vehicula in, accumsan id sapien. Donec lacinia augue leo,
                  a luctus lorem ullamcorper eu. Proin quis sollicitudin nulla. Nulla dictum ligula ac sed.</p>
              </div>
              <div class="slds-size--1-of-1 slds-medium-size--1-of-12 slds-clearfix">
                <button class="slds-button slds-button--neutral slds-button slds-button--neutral slds-float--right">
                  Edit
                </button>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </div>
  </div>
</main>